body{
    /* background-image: url(https://cdn.discordapp.com/attachments/818131624502886411/976311604570370058/hush-naidoo-jade-photography-yo01Z-9HQAw-unsplash.jpg); */
    background-size: cover;
}

footer{
    background-color: #2c4454;
}
footer p {
    text-align: center;
    color: white;
    padding-top: 10px;
}

a {
    text-decoration: none;
    
}
.kotak-kategori {
    background-color: #4c748f;
    width: 250px;
    color: white;
}

.kotak-kategori:hover{
    background-color: #2c4454;
    cursor: pointer;
    color: white;
    
}

a .card{
    color: black;
}