.gambar-obat{
    background: white;
    /* background-image: url(); */
    background-size: cover;
    border : 1px solid #000;
    height: 300px;
    border-radius: 10px;
}

.kotak-beli{
    background: #e8e8e8;
    border-radius: 5px;
    height: 350px;
}

a {
    text-decoration: none;
    
}

hr{
    color: #000;
}

footer{
    background-color: #2c4454;
}
footer p {
    text-align: center;
    color: white;
    padding-top: 10px;
}